* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    font-family: "Magra", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    overflow-x: hidden;
}

#cabecalho {
    width: 100%;
    height: 100px;
    background-color: #005bb5;
}
#menu-navegacao {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 2rem;
}
.menu-lista {
    position: relative;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.menu-lista li a {
    color: #ffffff;
    text-decoration: none;
}

/* Corridas.html */
section {
    align-self: center;
}
h1 {
    font-size: 35px;
    color: #081420;
    margin: 30px 0 30px 10px;
}

#hero {
    width: 100vw;
    height: 150px;
    color: #ffffff;
    background-image: url("../images/mapa-mundi.png");
    background-color: #081420;
    display: flex;
    flex-direction: column;
    padding: 40px 0 50px 30px;
    line-height: 1.3;
}
#hero h2 {
    font-weight: 900;
    font-size: 40px;
}
#hero p {
    font-size: 15px;
    font-weight: 400;
}

#section-corridas {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    gap: 2px;
    margin-bottom: 40px;
}
.box-corrida {
    border: 20px solid transparent;
    width: 33%;
    height: 300px;
    background-color: #fdfdfd;
    box-shadow: 2px 1px 1px rgba(4, 1, 5, 0.7);
    padding: 10px;
    transition: border 0.5s ease-in;
    display: flex;
    flex-direction: column;
    color: #081420;
}
.box-corrida:hover {
    border: 20px solid rgb(190, 190, 190,0.5);
}
.box-corrida .data-corrida {
    border: 1px solid #00000083;
    background-color: rgba(185, 184, 184, 0.5);
    height: auto;
    width: 5vw;
    text-align: center;
    padding: 2px;
    margin-bottom: 30px;
}
.box-corrida img {
    width: 50px;
    height: 30px;
    margin-bottom: 15px;
}
.box-corrida h2 {
    font-size: 28px;
    margin-bottom: 20px;
}
.box-corrida .linha {
    width: 300px;
    height: 1px;
    background: linear-gradient(#000000 0%, #081420 20%, #005bb5 40%, #ffffff 60%);
    margin-bottom: 10px;
}
.box-corrida h3 {
    font-size: 22px;
}

/* Equipes.html */
#section-equipes {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin-bottom: 40px;
}
.box-equipe {
    width: 50%;
    height: 300px;
    border: 1px solid #ebebeb;
    justify-content: center;
    padding: 10px;
    padding-left: 20px;
    color: #081420;
    display: flex;
    flex-direction: column;
}
.box-equipe .titulo {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 26px;
    font-style: italic;
}
.box-equipe .localizacao {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 30px;
}
.box-equipe .estatisticas-gerais {
    display: flex;
    gap: 20px;
    color: #005bb5;
}
.box-equipe img{
    width: 70px;
    height: 50px;
}

/* Pilotos.html */
.wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.slide-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.slide-list {
    display: flex;
}
.slide-item {
    flex-shrink: 0;
    width: 70vw;
    margin: 0 10px;
    cursor: grab;
}
.slide-content {
    border: 1px solid #ebebeb;
    box-shadow: 2px 1px 1px rgba(4, 1, 5, 0.7);
    position: relative;
    border-radius: 10px;
}
.slide-image {
    width: 100%;
    height: 85vh;
    border-radius: 20px;
    image-rendering: optimizeSpeed;
}
.slide-description {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top rgb(0, 91, 181,0.5), transparent);
    color: #081420;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    padding: 5px;
}
.slide-description h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.slide-description h3 {
    color: #005bb5;
}
.slide-controls {
    position: relative;
    top: 20px;
    left: 13%;
}
.slide-control-button {
    color: #000000;
    cursor: pointer;
    background: transparent;
    border: 1px solid transparent;
    font-size: 18px;
    margin: 0 5px;
}
.slide-control-button.active {
    color: #005bb5;
}